h1 {
  color: #f68800;
  font-size: 30px;
  text-align: center;
}
h3 {
  color: #f68800;
}
hr {
  background-color: #276968;
  height: 5px;
  border: none;
}
.about {
  color: aqua;
}
.me {
  background-color: aqua;
}
.ha {
  text-align: center;
}
.things {
  text-align: left;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #051721;
}

.topnav a {
  float: left;
  color: #f68800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #1a4645;
  color: #f68800;
}

.topnav a.active {
  background-color: #276968;
  color: #f8bd25;
}

#black {
  color: #051721;
}
#teal {
  color: #1a4645;
}
#cyan {
  color: #276968;
}
#orange {
  color: #f68800;
}
#yellow {
  color: #f8bd25;
}
